<footer>
  <nav class="bottom_nav round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
      <li><a href="http://www.paolotax.it/appunti">Appunti tax</a></li>
    </ul>
  </nav>
</footer>
